RMMV_Curso/audio/
RMMV_Curso/fonts/
RMMV_Curso/icon/
RMMV_Curso/img/
RMMV_Curso/js/libs/
RMMV_Curso/js/plugins/
RMMV_Curso/js/main.js
RMMV_Curso/js/rpg_core.js
RMMV_Curso/js/rpg_managers.js
RMMV_Curso/js/rpg_objects.js
RMMV_Curso/js/rpg_scenes.js
RMMV_Curso/js/rpg_sprites.js
RMMV_Curso/js/rpg_windows.js
