RMMV_Curso/audio/
RMMV_Curso/fonts/
RMMV_Curso/icon/
RMMV_Curso/img/*/*
!RMMV_Curso/img/*/titojlmm*.png
RMMV_Curso/js/*
!RMMV_Curso/js/plugins.js
RMMV_Curso/save/
RMMV_Weekend/audio/
RMMV_Weekend/fonts/
RMMV_Weekend/icon/
RMMV_Weekend/img/*/*
!RMMV_Weekend/img/characters/!$SF_Gate1.png
!RMMV_Weekend/img/characters/!$SF_Gate2.png
!RMMV_Weekend/img/characters/!$SF_Gate3.png
!RMMV_Weekend/img/characters/!$SF_Chest.png
!RMMV_Weekend/img/characters/!$SF_Door1.png
!RMMV_Weekend/img/characters/!$SF_Door2.png
!RMMV_Weekend/img/characters/!$SF_Switch1.png
!RMMV_Weekend/img/characters/People2.png
!RMMV_Weekend/img/characters/SF_Actor1.png
!RMMV_Weekend/img/characters/SF_Actor2.png
!RMMV_Weekend/img/characters/SF_Actor3.png
!RMMV_Weekend/img/characters/SF_Damage1.png
!RMMV_Weekend/img/characters/SF_Damage2.png
!RMMV_Weekend/img/characters/SF_Monster.png
!RMMV_Weekend/img/characters/SF_People1.png
!RMMV_Weekend/img/characters/SF_People2.png
!RMMV_Weekend/img/characters/SF_People3.png
!RMMV_Weekend/img/characters/SF_Vehicle.png
RMMV_Weekend/js/*
RMMV_Weekend/js/plugins.js
RMMV_Weekend/save
